*{
    font-family: monospace;
}
body{
    margin:0 ;
    font-size: 20px;
    background-color: rgb(235, 240, 227);

}
h1{
    color: rgb(50, 5, 78);
    font-size: 35px;
}
header{
    background-color: rgb(123, 161, 57);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(191, 0, 0);
}


.button{
    margin: 10px;
    height: 40px;
    width: 100px;
    border: 2px solid yellowgreen;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.1s step-end 0s;
    
}
.button:hover{
    background-color: rgb(146, 240, 117);
    transform: translateY(-5px);
}
main{
    padding: 10px;;
}
section{
    height: 100vh;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
a{
    text-decoration: none;
    margin: 1px;   
}
section div p{
    text-align: left;
}
ol li{
    font-size: 20px;

}
form div{ 
    margin: 5px 0px;
}
.submit{
    height: 40px;
    width: 100px;
    border: 2px solid yellowgreen;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.1s step-end 0s;
    
}
.submit:hover{
    background-color: lightgreen;
    transform: translateY(-5px);
}
.reset{
    height: 40px;
    width: 100px;
    border: 2px solid rgb(213, 49, 82);
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.1s step-end 0s;
    
    
}
.reset:hover{
    background-color: rgb(233, 128, 138);
    transform: translateY(-5px);
}    
input{
    height: 20px;
    border-radius: 5px;
    border: 1px solid brown;
}
footer{
    height: 100px;
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    border:1px solid black;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(22, 27, 27);
    transition: all 0.1s step-end 0s;
    
}
.f:hover{
    background-color: rgb(128, 133, 233);
    transform: rotate(180deg);
}